.container{
  background-color: green;
  width:800px;
}
h1.sticky{
  position: -webkit-sticky;
  position:sticky;
  top:0;
  background-color: black;
  color:white;

}
.videoborder{
  box-sizing:border-box;
  background-color: red;
}
.floatleft{
  float:left;
}
.floatright{
  margin: auto;
  padding:10px;
  /* float:right; */
}